.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 128px auto 32px auto;
}

button {
  padding: 4px;
  margin: 4px;
  height: 36px;
  width: 200px;
}

table {
  border: solid 2px;
  margin: 0 auto;
  height: 512px;
  width: 512px;
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

.flipped-table {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

tr {
  border-bottom: solid 2px;
}

td {
  width: 64px;
  height: 64px;
}

img {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

.flipped-piece {
  transform: rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

.white-field {
  background-color: #F0D9B5;
}

.black-field {
  background-color: #B58863;
}
